
li > a:hover {
    color: #7ac94c;
}

footer {
    background-color: rgba(43,42,48,255);
    border-top: 2px solid #8d8ae1;
    font-family: var(--font-header-footer);
    font-size: medium;
}

.arma-pc-footer {
    font-size: medium !important;
    border: 2px solid rgba(43,42,48,0);
    border-radius: 10px;
    transition: 0.5s ease;
    color: #7ac94c !important;
}

.arma-pc-footer:hover {
    color: whitesmoke !important;
    text-shadow: 2px 2px 15px var(--logo-green-color);
}

.footer-info > ul > li {
    font-size: 0.93rem;
    padding: 0 5px 4px 5px;
}

.enlaces-footer > ul > li:hover {
    color: var(--logo-green-color);    
}

.enlaces-footer > ul > li > a {
    position: relative;
    padding-bottom: 1px;
}

.enlaces-footer > ul > li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #4371ff;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in-out;
}

.enlaces-footer > ul > li > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

@media(max-width: 992px) {
    .footer-info {
        width: 55%;
        max-width: 500px;
        padding: 20px;
    }

    footer {
        border-top: 3px solid #8d8ae1;
    }
}