
li > a:hover {
    color: #7ac94c;
}

footer{
    background-color: rgba(43,42,48,255);
    border-top: 2px solid #8d8ae1;
    font-family: var(--font-header-footer);
    font-size: medium;
}

.arma-pc-footer {
    font-size: medium !important;
    border: 2px solid rgba(43,42,48,0);
    border-radius: 10px;
    transition: 0.5s ease;
    color: #7ac94c !important;
}

.arma-pc-footer:hover,
.arma-pc-footer:focus {
    background-color: #5273FF;
    border-color: #5273FF;
    color: whitesmoke !important;
}

.footer-info > ul > li {
    font-size: 0.93rem;
    padding: 0 5px 4px 5px;
}

@media(max-width: 992px) {
    .footer-info {
        width: 55%;
        max-width: 500px;
        padding: 20px;
    }
}
