.barra_main {
    background-color: rgba(43, 42, 48, 255);
    border-bottom: 2px solid #8d8ae1;
    justify-content: center;
}

/* Estilo del contenedor de resultados */
.resultados-busqueda {
    position: absolute;
    top: 100%; /* Mostrar resultados justo debajo del input de búsqueda */
    left: 0;
    right: 0;
    max-height: 300px;
    z-index: 1000;
    background-color: white;
    padding: 0;
    border-radius: 10px !important;
    width: 84.4%;
}

.resultados-busqueda::-webkit-scrollbar {
    width: var(--sb-size);
}

.resultados-busqueda::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 3px;
}

.resultados-busqueda::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3px;
}

#formBusqueda,
#formBusquedaModal {
    display: flex;
    align-items: center;
}

/* Estilo de los ítems de la lista de resultados */
.resultados-busqueda div {
    list-style: none;
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 1px solid #e5e5e5;
}

.resultados-busqueda div:hover {
    background-color: #f1f1f1;
}

/* Estilo del botón de búsqueda */
.btn-custom-search {
    border-radius: 0 10px 10px 0 !important;
    background-color: var(--logo-green-color);
}

.btn-custom-search:hover {
    background-color: var(--contrast-green-color);
}

.btn-custom-search:focus {
    outline: none;
    box-shadow: none;
}

.modal-custom {
    max-width: 346px;
}

.svg-logo {
    width: 14.5rem;
    height: auto;
}

@media (max-width: 991px) {
    .barra_main {
        border-bottom: 3px solid #8d8ae1;
    }
}

@media (max-width: 912px) {
    .svg-logo {
        width: 12.4rem;
        height: auto;
    }
}

@media (max-width: 768px) {
    .svg-logo {
        width: 10.4rem;
        height: auto;
    }
}

@media (max-width: 430px) {
    .svg-logo {
        width: 7.4rem;
        height: auto;
    }
}

.offcanvas {
    background-color: rgba(55,55,63,255);
    padding: 0;
}

.offcanvas-body {
    padding-left: 0;
    padding-right: 0;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

#navbarNav > ul > li > a,
.navbar-nav > li {
    font-family: var(--font-family-mono);
    font-weight: 400;
    color: whitesmoke;
    border-radius: 10px;
    padding: 3.5px;
}

#navbarNav > ul > li > a {
    position: relative;
}

#navbarNav > ul > li > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #4371ff;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in-out;
}

#navbarNav > ul > li > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#cat-burger > li > a {
    padding-left: 5rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
}

@media(max-width: 992px) {
    .navbar-nav > li:hover {
        background-color: #fefefd;
        color: #2c2930;
    }
    #cat-burger > li:hover {
        background-color: darkgray;
    }
}

.second-navbar,
.dropdown-menu-dark {
    background-color: rgba(55,55,63,255);
    border-top-color: transparent;
}

.dropdown-menu-dark {
    margin-top: .4rem !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu-dark > li > a {
    padding-bottom: .5rem;
    padding-top: .5rem;
}

.dropdown-toggle::after {
    display: none;
}

.arma-pc-offcanvas,
.arma-pc-nav {
    transition: .5s ease-in-out;
    color: var(--logo-green-color) !important;
    font-size: 1.1rem;
}

.arma-pc-nav:hover {
    color: whitesmoke !important;
    text-shadow: 2px 2px 15px var(--logo-green-color);
}

.arma-pc-offcanvas:hover {
    color: var(--logo-blue-color) !important;
    text-shadow: 2px 2px 15px var(--logo-green-color);    
}

.modal-title,
.login-title {
    font-family: var(--font-family-mono);
}

.modal-content,
.form-login {
    background-color: rgb(238, 236, 236);
}

.form-login button:hover {
    color: #f1f1f1;
}
