# Redirecciones URL
RewriteEngine On

RewriteRule ^home$                                      index.php
RewriteRule ^error$                                     /LabWebFrontEnd/app/views/public/error.php
RewriteRule ^perfil$                                    /LabWebFrontEnd/app/views/public/info_cuenta.php
RewriteRule ^carrito$                                   /LabWebFrontEnd/app/views/public/carrito.php
RewriteRule ^registro$                                  /LabWebFrontEnd/app/views/public/register.php
RewriteRule ^producto$                                  /LabWebFrontEnd/app/views/public/producto.php
RewriteRule ^productos$                                 /LabWebFrontEnd/app/views/public/productos.php
RewriteRule ^arma-tu-pc$                                /LabWebFrontEnd/app/views/public/armar_pc.php
RewriteRule ^ofertas-semana                             /LabWebFrontEnd/app/views/public/ofertas_semana.php
RewriteRule ^editar-perfil$                             /LabWebFrontEnd/app/views/public/actualizar_perfil.php
RewriteRule ^realizar-compra$                           /LabWebFrontEnd/app/views/public/guardar_carrito.php
RewriteRule ^compra-exitosa$                            /LabWebFrontEnd/app/views/public/compra_exitosa.php
RewriteRule ^compra-login$                              /LabWebFrontEnd/app/views/public/compra_login.php
RewriteRule ^finalizar-compra$                          /LabWebFrontEnd/app/views/public/compra.php
RewriteRule ^resultado-busqueda$                        /LabWebFrontEnd/app/views/public/search.php
RewriteRule ^([a-z]+)/[a-z\d]+(-[a-z\d]+)+/(\d+)$       /LabWebFrontEnd/app/views/public/producto.php?id=$3

RewriteRule ^procesar-login$                            /LabWebFrontEnd/includes/procesar_login.php
RewriteRule ^validar-password$                          /LabWebFrontEnd/includes/verificar_contrasena.php
RewriteRule ^procesar-registro$                         /LabWebFrontEnd/includes/procesar_registro.php
RewriteRule ^procesar-editar-perfil$                    /LabWebFrontEnd/includes/procesar_editar_perfil.php

RewriteRule ^admin$                                     /LabWebFrontEnd/app/views/admin/admin.php
RewriteRule ^marca$                                     /LabWebFrontEnd/app/views/admin/marca.php
RewriteRule ^modelo$                                    /LabWebFrontEnd/app/views/admin/modelo.php
RewriteRule ^productosAdmin$                            /LabWebFrontEnd/app/views/admin/productos.php
RewriteRule ^categoria$                                 /LabWebFrontEnd/app/views/admin/categoria.php
RewriteRule ^stock$                                     /LabWebFrontEnd/app/views/admin/stock.php
RewriteRule ^ofertaSemana$                              /LabWebFrontEnd/app/views/admin/ofertaSemana.php
RewriteRule ^combos$                                    /LabWebFrontEnd/app/views/admin/combos.php
RewriteRule ^ventas$                                    /LabWebFrontEnd/app/views/admin/ventas.php